html {
  @import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
  font-family: 'Sofia', cursive;
}

body {
  min-height: 100vh;
  min-width: 100%;
  text-align: center;
  background-image: url(./images/cover1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;

}



#container {
height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin: auto;
width: 1000px;
}

#header {
  font-size: 32px;
}

#content {

  
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.23);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
 flex-wrap: wrap;
}

#create-task-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 18px;
  height: 300px;
  padding: 10px;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200px;
}


#to-dos {
  margin: 20px;
  text-align: center;

  width: 400px;
  border: #e8cdc7e7 3px solid;
  background-color: #f9f8f3;
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #e8cdc7;
  height: 300px;
}

li {
  display: inline-flex;
  margin: 6px 10px;
  font-size: x-large;
  align-items: center;
}

button {
  font-size: 16px;
  border: rgb(209 197 197) 1px solid;
  border-radius: 5px;
  background: whitesmoke;
  margin-left: 3px;
  height: fit-content;
}

button:hover {
  background-color: rgb(250, 250, 250);
  color: #000;
  transform: scale(1.1);
  transition: all ease-in-out .2s;
  cursor: pointer;
}

select {

  font-size: 18px;
  text-align: center;
}

select option {
  font-size: 18px;
  border: rgb(209 197 197) 1px solid;
  border-radius: 5px;

  height: fit-content;
}

select:hover {
  background-color: rgb(250, 250, 250);
  color: #000;
  cursor: pointer;
}

#btn {
  font-size: 18px;
  border: rgb(209 197 197) 1px solid;
  border-radius: 5px;
  background: whitesmoke;

  height: fit-content;
  width: fit-content;
  margin: auto;
}

#btn:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  color: #000;
  transform: scale(1.1);
  transition: all ease-in-out .2s;
}

input {
  font-size: 18px;
  text-align: center;
}